TODO.md

AnimatedEntity.o
Entity.o
main.o
RenderWindow.o
Vector2.o

others/bin/debug/res
others/bin/release/res
others/bin/debug/libSDL2_image.so
others/bin/release/libSDL2_image.so
others/bin/debug/libSDL2-2.so
others/bin/release/libSDL2-2.so

Sublime text/bin/debug/res
Sublime text/bin/release/res
Sublime text/bin/debug/libSDL2_image.so
Sublime text/bin/release/libSDL2_image.so
Sublime text/bin/debug/libSDL2-2.so
Sublime text/bin/release/libSDL2-2.so

Sublime text/SDL2 tutorial.sublime-project
Sublime text/SDL2 tutorial.sublime-workspace