
TODO.md

*.o

others/bin/debug/res
others/bin/release/res
others/bin/debug/*so
others/bin/release/*.so

Sublime text/bin/debug/res
Sublime text/bin/release/res
Sublime text/bin/debug/*.so
Sublime text/bin/release/*.so

Sublime text/SDL2 tutorial.sublime-project
Sublime text/SDL2 tutorial.sublime-workspace
